#map {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
}

#map:not([data-interactable]) .leaflet-control-container {
    display: none;
}

.leaflet-top {
    margin-top: 4em;
}