#map {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 0;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

body:not(.interactable-map) .leaflet-control-container {
    display: none;
}